#content {
  color: white;
  margin: 35px auto;
  height: 100%;
  width: 50%;
}

#content .ui-accordion-header {
  display: block;
  color: #0077cb;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  transition: 0.4s;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.3);
}

  #content .ui-accordion-content {
  content: '\2193';
  font-size: 14px;
  color: #0077cb;
  float: right;
  margin-left: 5px;
}